* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: white;
  padding: 10px 20px;
  /* margin: 10px 20px; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10% 0 0 8%;
}

.logo {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.logo img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.title {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  color: #333333;
  font-size: 15px;
}

.title:hover {
  color: #f079a1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

button i {
  color: #333333;
}

button i:hover {
  color: #f079a1;
}

section {
  margin: 10%;
}

.h1 p {
  font-size: 60px;
  color: #585858;
  font-weight: 900;
}

.h1 a {
  text-decoration: underline dashed 2px #ababab;
  text-underline-offset: 8px;
  color: #585858;
}

.h1 a:hover {
  color: #f079a1;
  text-decoration: none;
  transition: 0.4s ease;
}

.paragraph p {
  margin-block: 3%;
  color: #8e8a88;
  line-height: 1.7;
  font-size: 15px;
}

.cards {
}
.card {
  width: 350px;
  height: 300px;
  background-size: cover;
  background-image: url(https://html5up.net/uploads/demos/phantom/images/pic01.jpg);
}
.card :hover {
}
.overlay {
  background-color: rgba(0, 0, 0, 0.325);
  height: 100%;
}
