* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: white;
  padding: 10px 20px;
  /* margin: 10px 20px; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10% 0 0 8%;
}



.logo {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}


.logo img {
  width: 35px;
  height: auto;
  margin-right: 10px;
}

.title {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  color: #333333;
  font-size: 22px;
}

.title:hover {
  color: #f079a1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

/* Button Icon */

.fa-solid {
  color: #333333;
  font-size: 35px;
  margin-right: 3em;
}


.fa-solid:hover {
  color: #f079a1;
}


section {
  margin: 10%;
}

.h1 p {
  font-size: 60px;
  color: #585858;
  font-weight: 900;
}

.h1 a {
  text-decoration: underline dashed 2px #ababab;
  text-underline-offset: 8px;
  color: #585858;
}

.h1 a:hover {
  color: #f079a1;
  text-decoration: none;
  transition: 0.4s ease;
}

.paragraph p {
  margin-block: 3%;
  color: #8e8a88;
  line-height: 1.7;
  font-size: 15px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  /* grid-template-rows: auto 100px; */
}

.card {
  /* Ensure the card is a containing block */
  position: relative;
  width: 25em;
  height: 23em;
  background-size: cover;
  background-image: url(https://html5up.net/uploads/demos/phantom/images/pic01.jpg);
  border-radius: 3px;
  /* overflow: hidden; */
  /* Ensure content stays within the card */
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s ease;

}

.overlay {
  height: 100%;
  background-color: #f2849e81;
  transition: background-color 0.5s ease;
}

.overlay:hover {
  background-color: #33333396;

  svg {
    opacity: 0;
  }

}


.word-contanier {
  position: relative;
}

.word {
  position: absolute;

  margin: 40%;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
}

svg {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}



.overlay:hover:after {
  content: 'Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.';
  font-size: 15px;
  position: absolute;
  left: 1%;
  top: 54%;
  line-height: 1.3;
  text-align: center;
  font-weight: 520;
  color: #fefefebf;
}